body {
  height: 89vh;
  background: linear-gradient(#021e24,#76d3e8);
  /* margin-top: 80px; */
  /* background-size: 100% 50%; */
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.mybtn{
  margin-left: 700px;
  margin-top: 20px;
}
.dice {
  text-align: center;
  display: inline-block;

}

h1 {
  margin: 100px 30px 80px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #06020d;
  font-size: 6rem;
  color: #a8e3f0;
}

p {
  font-size: 2rem;
  color: #a8e3f0;
  font-family: 'Indie Flower', cursive;
}

@keyframes example {
  0%   {transform: rotate(8deg);}
  50%  {transform: rotate(-8deg);}
  100% {transform: rotate(8deg);}
}

img {
  width: 60%;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
